{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/home/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/home/css/all.min.css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/home/css/styles.css">

    <title>{% block title %}TPO Grupo 11 - Codo a Codo | App de Home{% endblock title %}</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand img-fluid" href="/"><img src="/static/home/img/logo.png" alt="Logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/home">Catálogo</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/post/">Alta</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/remove/">Baja</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/edit/">Modificacion</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about/">| Sobre nosotros</a>
              </li>
          </ul>
        </div>
    </nav>

    {% block content %}{% endblock content %}
    
    <div class="row my-2 text-center">
      {% for lista in list_home %}
      
    <div class="col-sm-12 col-md-6 col-lg-3 mb-2">

        <div class="card">
            <div class="card-body">
                <h5 class="card-title text-center">{{ lista.title }}</h5>
                <hr class="mb-3">
                <p class="card-text"> <img class="img-fluid" src="{{ lista.image.url }}" width="300px" alt="Imagen del producto"></p>
                <p class="card-text">{{ lista.description }}</p>
                <p class="card-text">$ {{ lista.price }}</p>
                <p class="card-text">{{ lista.publicationsDate }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
    <footer class="navbar-expand-lg">
        <div class="footer-container bg-dark text-light text-center">
          <div class="row">
            <div class="col-lg-12 col-md-10 mx-auto">
              <ul class="list-inline text-center">
                <li class="list-inline-item">
                <a href="#" class="text-light">
                  <span class="fa-2x">
                    <i class="fa-brands fa-whatsapp"></i>
                  </span>
                </a>
              </li>
                <li class="list-inline-item">
                  <a href="#" class="text-light">
                    <span class="fa-2x">
                      <i class="fa-brands fa-facebook"></i>
                    </span>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#" class="text-light">
                    <span class="fa-2x">
                      <i class="fa-brands fa-github"></i>
                    </span>
                  </a>
                </li>
              </ul>
              <p class="copyright text-muted">Copyright &copy;  TPO Codo a Codo - Grupo 11</p>
            </div>
          </div>
        </div>
    </footer>

    <script src="/static/home/js/jquery.js"></script>
    <script src="/static/home/js/popper.js"></script>
    <script src="/static/home/js/bootstrap.min.js"></script>
</body>
</html>
